.shorter-input {
  width: 90%;
}

.remove-product {
  float: right;
  background-color: #c2185b;
  min-width: 0;
  line-height: 15px;
  border-radius: 10px;
}

form {
  width: 60%;
  margin: auto;
}

.full-width {
  width: 100%;
}

.ordering-card {
  min-width: 120px;
  margin: 20px auto auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

#revolut-pay {
  margin: auto;
  margin-top: 2em;
  width: 60%;
}