app-available-stores {
  width: 27.5%;
  margin: 20px auto;
}

.wrapper-box {
  display: flex;
}

form {
  width: 70%;
}

.full-width {
  width: 100%;
}

.ordering-card {
  min-width: 120px;
  margin: 20px auto auto 2%;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
