<mat-toolbar color="primary">
	<mat-toolbar-row class="main-container">
		<h1>Shared Ordering</h1>
		<!-- <span class="menu-spacer"></span> -->
		<ul>
			<!-- Needs Centering -->
			<li><a mat-button [routerLink]="'/allorders'"   *ngIf="isLoggedIn"> All Orders </a></li>
			<li><a mat-button [routerLink]="'/neworder'"    *ngIf="isLoggedIn"> Create Order </a></li>
			<li><a mat-button [routerLink]="'/myprofile'"   *ngIf="isLoggedIn"> My Profile </a></li>
			<li><a mat-button [routerLink]="'/login'" 		*ngIf="! isLoggedIn"> Sign In </a></li>
			<li><a mat-button [routerLink]="'/register'"    *ngIf="! isLoggedIn"> Register </a></li>
		</ul>
	</mat-toolbar-row>
</mat-toolbar>