/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
	background: linear-gradient(60deg, red, blue, green);
	overflow: hidden;
	background-size: 300%;
	animation: gradient 10s linear infinite;
	animation-direction: alternate;
}

@keyframes gradient {
	0% { background-position: 0% }
	100% { background-position: 100% }
}