/* You can add global styles to this file, and also import other style files */

html, body { 
	height: 100%; 
	margin: 0; 
}

body {
	background: linear-gradient(60deg, red, blue, green);
	background-size: 300%;
	animation: gradient 10s linear infinite;
	animation-direction: alternate;
	background-repeat: no-repeat;
}

@keyframes gradient {
	0% { background-position: 0% }
	100% { background-position: 100% }
}