<mat-card class="available-stores-card">
	<mat-card-title>Choose form these stores:</mat-card-title>
	<mat-card-content>
		<div>
			<a href="https://www.amazon.com/" target="_blank">
				<img mat-card-image class="image-512" src='assets/images/amazon-icon.png'>
			</a>

			<a href="https://www.amazon.com/" target="_blank">
				<img mat-card-image class="image-512" src='assets/images/sports-direct.png'>
			</a>
			<a href="https://www.waterstones.com/" target="_blank">
				<img mat-card-image class="image-512" src='assets/images/waterstones-small-icon.jpg'>
			</a>
			<a href="https://www.sportsdirect.com/" target="_blank">
				<img mat-card-image class="image-512" src='assets/images/sports-direct.png'>
			</a>
			<a href="https://www.sportsdirect.com/" target="_blank">
				<img mat-card-image class="image-512" src='assets/images/sports-direct.png'>
			</a>
			<a href="https://www.sportsdirect.com/" target="_blank">
				<img mat-card-image class="image-512" src='assets/images/sports-direct.png'>
			</a>
		</div>
	</mat-card-content>
</mat-card>