.hero-landing {
	width: 60%;
	margin: auto;
	background-color: #c2185b;
	margin-top: 3em;
	padding: 0.5em;
}

.cta-buttons {
	margin: auto;
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.cta-button {
	margin: 3em;
	padding: 1.5em 3em 1.5em 3em;
	max-width: 15em;
	overflow: hidden;
}


.text-image {
	position: relative;
	text-align: center;
	color: white;
}

.cta-copy {
	color: black;
	position: absolute;
	font-size: medium;
	font-weight: bold;
	bottom: 2em;
	text-align: center;
	width: 100%;
}

.cta-image {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}