<div class="hero-landing main-container">

	<div class="cta-section">

		<div class="text-image">
			<img src="assets/images/Corporate_Memphis.jpg" class="cta-image"/>

			<div class="cta-copy">
				Shared Ordering lets you shop from various online stores and pay smaller shipping fees than usual!
				It works by combining all users' orders into a shared one. After the order is made, all participants
				will receive an email with the order's tracking number. When the order arrives, you can pick it up
				from one of our offices.
			</div>
		</div>
		<div class="cta-buttons">
			<button mat-flat-button class="cta-button"> Get Started! </button>
			<button mat-flat-button class="cta-button"> Our Locations! </button>
			<button mat-flat-button class="cta-button"> Learn More! </button>
		</div>
	
	</div>


</div>